<!doctype html>
<html lang="en">
<head>
    <!-- meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- my files -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <!-- tab title -->
    {% if title %}

        <title>Microblog | {{ title }}</title>
    {% else %}
        <title>Microblog | Welcome</title>
    {% endif %}
</head>
<body>
<!-- top navigation bar -->
    <div class="container">
        {% include 'partials/navbar.html' %}
    </div>

<!-- page content -->
    <div class="container">
        <!-- flashed messages -->
        {% include 'partials/messages.html' %}

        <!-- dynamic page content -->
        {% block content %}{% endblock %}
    </div>

{% block scripts %}
    {{ moment.include_moment() }}
{% endblock %}

</body>
</html>